# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Environment Variables
.env
.env.*

# Node.js (Frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Build & Dist
dist/
build/
*.egg-info/

# Logs
*.log

# Coverage reports
htmlcov/
coverage/

# Temporary Files
*.swp
*.bak
*.tmp
